---
import location from '../assets/location-icon.svg'
import phone from '../assets/phone-icon.svg'
import mail from '../assets/mail-icon.svg'
---


<footer class="w-screen h-fit bg-black text-white flex flex-col justify-center items-center px-8">
    <aside class="md:w-[800px] py-12">
        <div class="w-full flex flex-col gap-8 md:flex-row justify-between items-center">
            <div class="flex flex-col gap-2 justify-center items-center">
                <h2 class="text-4xl">AIDA</h2>
                <h3 class="text-2xl">Librería Solidaria</h3>
            </div>
            <div class="flex gap-4">
                <div class="">
                    <img src={location.src} alt="Icono Emplazamiento" class="w-4 h-4" />
                </div>
                <div>
                    <p class="text-gray-100">Librería Solidaria - AIDA</p>
                    <p class="text-gray-100">C/ San Francisco 23.</p>
                    <p class="text-gray-100">40001 SEGOVIA</p>
                    <a href="https://maps.app.goo.gl/Szo9AT5N2zc3mh6WA" target="_blank" class="text-yellow-300 font-semibold">Ver en Google Maps</a>
                </div>
            </div> 
        </div>
    </aside>
    <aside class="w-full border-t border-gray-700 py-8">
        <div class="w-full flex justify-center items-center">
            <p class="text-center">
                2025 © AIDA Librería Solidaria. Todos los derechos reservados.
            </p>
    </aside>
</footer>