<section class="w-screen h-dvh bg-[url('../assets/bg-hero.jpg')] bg-cover bg-center flex items-center justify-center">
    <div class="size-fit flex flex-col items-center justify-center bg-[rgba(100,62,29,0.4)] py-8 px-20 rounded-2xl shadow-lg backdrop-blur-md">
        <h1 class="text-4xl md:text-[100px] font-bold text-white text-center mb-4">AIDA</h1>
        <p class="text-xl md:text-2xl text-white text-center mb-8">Librería Solidaria</p>
        <a href="/about" class="bg-gradient-to-br from-[#1f0021] to-[#751006] hover:shadow-2xl text-white font-bold py-2 px-4 rounded transition duration-300"> Quiero Colaborar</a>
    </div>
</section>