<section id="location" class="w-full flex flex-col justify-center items-center py-20 ">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">
    ¿Dónde estamos?
  </h2>
    <div class="max-w-[900px]">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4983.402959919009!2d-4.120299822612286!3d40.94675267135935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd413f24742a18e3%3A0x5d189fee49fa4129!2sLibreria%20Solidaria%20AIDA%20books%26more!5e1!3m2!1ses!2ses!4v1750254647593!5m2!1ses!2ses" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded-2xl"></iframe>
    </div>
</section>